menupopup{
  --panel-background: rgb(0, 0, 0) !important;
  --panel-color: rgb(255, 255, 255) !important;
}
menupopup > menuitem[_moz-menuactive="true"]:not([disabled]),
menupopup > menu[_moz-menuactive="true"]:not([disabled]),
#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]) > .menu-iconic-left > .menu-iconic-icon{
  background: rgb(43, 43, 43) !important;
  color:  rgb(255, 255, 255) !important;
}
